doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width initial-scale=1")
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

    if(production)
      link(rel="stylesheet", type="text/css", href="/assets/style.css")

  body
    #root!= html || 'root'
    script.
      window.__PRELOADED_STATE__ = !{JSON.stringify(state || {}).replace(/</g, '\\u003c')}
    script(type="text/javascript" src="/assets/bundle.js")
